/* SliderComponent.css */
.slider-container {
  max-width: 1400px;
  height: auto;
  margin: auto;
}

.slick-slide {
  position: relative;
  text-align: center;
}

.slick-slide img {
  width: 100%;
  height: auto;
}

/* Позиционирование надписи и кнопки */
.slick-slide h2,
.slick-slide button {
  position: absolute;
  font-family: inter; 
  font-weight: 10;
  font-size: 50px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

.slick-slide h2 {
  top: 30%; /* Расположение надписи */
}

.slick-slide button {
  top: 60%; /* Расположение кнопки */
  background-color: #83D447; 
  width: 200px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  border: none;
  border-radius:12px;
  padding: 0;
  cursor: pointer;
}

/* Стили для точек */
.slick-dots {
  top: 90%;
}

.slick-dots li button:before {
  color: #939393; 
}

.slick-dots li.slick-active button:before {
  color: #FFFFFF; 
}

/* Скрыть стрелки */
.slick-prev,
.slick-next {
  display: none !important;
}

/* Медиа-запросы для мобильных устройств */
@media (max-width: 768px) {
  .slick-slide h2 {
    font-size: 30px; 
    top: 20%; 
  }

  .slick-slide button {
    top: 70%; 
    width: 150px; 
    height: 40px; 
    font-size: 18px; 
  }
}
